<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
    <div id="app">
      <div class="holder headline">
        Travel Planner App
      </div>
      <div class='travel-planner'>
        <div class="holder cityname">
          <label for="placename">Enter City name here</label>
          <input type="text" id="placename" placeholder="enter placename here">
        </div>
        <button id='submit-btn'>Plan Travel</button>
      </div>
      <div class='travel-details'>
        <div class='entity-left'>
          <h4>Current Weather for the destination is</h4>
          <dl class='entity-forecast'>
            <dt>temperature</dt><dd class='temperature'></dd>
            <dt>Summary</dt><dd class='summary'></dd>
          </dl>
        </div>
        <div class='entity-right'>
        </div>
      </div>
    
    </div>
</body>
</html>
